:root {
    /*Colors*/
    --bg-dark: #1f1f1f;
    --bg-medium: #333333;
    --bg-light: #424242;
    --font-color: #bebdb1;
    --light-piece: #d0cfcf;
    --dark-piece: #181818;

    /*Sizes*/
    --slot-size: 75px;
    --piece-size: 40px;
}

@media screen and (max-width: 600px) {
    :root{
        --slot-size: 40px;
        --piece-size: 25px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-optical-sizing: auto;
    font-variation-settings:"width" 100;
    font-family: Bricolage Grotesque,sans-serif;
    font-style: normal;
    background-color: var(--bg-dark);
    color: var(--font-color);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--bg-medium);
}

a:hover {
    cursor: pointer;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(8, var(--slot-size));
    grid-template-rows: repeat(8, var(--slot-size));
    width: fit-content;
    margin: auto;
    margin-top: 5rem;
    outline: 2px solid var(--bg-light);
}

.slot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot-light {
    background-color: var(--font-color);
}

.slot-dark {
    background-color: var(--bg-light);
}

.piece {
    height: var(--piece-size);
    width: var(--piece-size);
    border-radius: 100%;
}

.piece-dark {
    background-color: var(--dark-piece);
    
}

.piece-light {
    background-color: var(--light-piece);
}

#selected {
    outline: 5px solid lightblue;
}